(
    stages: [
        Compute(
            name: "Out",
            operations: [
                Rotation(
                    start_point: Point((
                        red: 255,
                        green: 0,
                        blue: 0,
                    )),
                    end_point: Evaluation1D(ArcSegment(
                        start: Point((
                            red: 255,
                            green: 0,
                            blue: 0,
                        )),
                        end: Point((
                            red: 0,
                            green: 255,
                            blue: 0,
                        )),
                        start_time: 0,
                        end_time: 0.5,
                    ), ColorProp(
                        source: "Color",
                        property: Saturation,
                    )),
                    source: "Color",
                    rescale: RatioClamp,
                ),
                Rotation(
                    start_point: Point((
                        red: 255,
                        green: 0,
                        blue: 0,
                    )),
                    end_point: Evaluation1D(ArcSegment(
                        start: Point((
                            red: 0,
                            green: 0,
                            blue: 255,
                        )),
                        end: Point((
                            red: 0,
                            green: 255,
                            blue: 0,
                        )),
                        start_time: 1,
                        end_time: 0.5,
                    ), ColorProp(
                        source: "Color",
                        property: Saturation,
                    )),
                    source: "Color",
                    rescale: RatioClamp,
                ),
            ],
            sum_type: InvWeighted,
        ),
    ],
    images: {
        "Color": (
            name: "Color",
            location: "tests/2/Fly.jpg",
        ),
        "Out": (
            name: "Out",
            location: "tests/2/Out.png",
        ),
    },
)